In [1]:
import pandas as pd
import pickle
import datetime

In [2]:
import sys
sys.path.insert(0, './utility/')
import data_preprocessing as dp

In [78]:
import importlib
importlib.reload(dp)

In [4]:
data_path = './data/loan.csv'

df = pd.read_csv(data_path)

C:\Users\xzhou\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.shape

(887379, 74)

In [6]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Assign labels based on loan status

excluded = {'Issued', 'Does not meet the credit policy. Status:Charged Off',
            'Does not meet the credit policy. Status:Fully Paid'}
positive = {'Current', 'Fully Paid'}
negative = {'Charged Off', 'Default', 'In Grace Period', 
       'Late (16-30 days)', 'Late (31-120 days)'}

def assign_label(status):
    """
    Classify loan staus based on description
    """
    try: 
        status=status.strip()
        if status in positive:
            return "positive"
        elif status in negative:
            return "negative"
        else: 
            return "excluded"
    except: 
        return "excluded"

In [8]:
df['label'] = df['loan_status'].apply(lambda x: assign_label(x))

In [9]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'label'],
      dtype='object')

In [10]:
# Drop ids, and loan status to prevent info leakage
cols_to_drop = ['id', 'member_id', 'loan_status']
df_id_removal = df.drop(columns = cols_to_drop)

In [11]:
# Only keep loans with good or bad status
df_label = df_id_removal[df_id_removal['label']!='excluded']
df_label.label.unique()

array(['positive', 'negative'], dtype=object)

In [79]:
df_processed = dp.preprocess_data(df_label, label = 'label')

INFO:root:Step 1: Encoding labels and print out the encoding
INFO:root:Label encoding: {'positive': 0, 'negative': 1}
INFO:root:Step 2: Dropping columns with missing values above the threshold
INFO:root:Step 3: Processing date columns and renaming them
INFO:root:Step 4: Handling missing values for numerical columns
INFO:root:Step 5: Handling extreme values for numerical columns
INFO:root:Step 6: Creating dummy variables for categorical columns
INFO:root:Step 7: Standardizing numerical columns
INFO:root:Step 8: Handling high correlation among numerical columns

In [80]:
df_processed.shape

(876170, 117)

In [81]:
df_processed.columns

Index(['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti',
       'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc',
       ...
       'home_ownership_nan', 'verification_status_Source Verified',
       'verification_status_Verified', 'verification_status_nan',
       'term_ 60 months', 'term_nan', 'next_pymnt_d_Jan-2016',
       'next_pymnt_d_Mar-2016', 'next_pymnt_d_nan', 'label'],
      dtype='object', length=117)

In [82]:
# Check for null values
df_processed.columns[df_processed.isnull().any()].tolist()

[]

In [83]:
# Check for labels
df_processed['label'].value_counts()

0    809502
1     66668
Name: label, dtype: int64

In [84]:
df_processed.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,...,home_ownership_nan,verification_status_Source Verified,verification_status_Verified,verification_status_nan,term_ 60 months,term_nan,next_pymnt_d_Jan-2016,next_pymnt_d_Mar-2016,next_pymnt_d_nan,label
0,-1.384536,-0.704540,-1.409446,-0.149701,1.483957,-0.416821,0.462971,-0.064410,0.000032,-0.029530,...,0,0,1,0,0,0,0,0,1,0
1,-0.184325,0.648016,-0.194951,-1.449777,-0.047680,-0.416821,-0.729534,-0.064410,0.000032,-0.029530,...,0,1,0,0,1,0,0,0,1,1
2,-0.184325,0.850022,-0.194951,-0.149701,-1.415431,-0.416821,1.655476,-0.064410,0.000032,-0.029530,...,0,0,0,0,0,0,0,0,1,0
3,-0.634404,0.126901,-0.434002,-0.736592,0.312255,-0.416821,0.462971,0.318427,0.000032,-0.293277,...,0,1,0,0,0,0,0,0,1,0
4,-0.184325,-0.107308,-0.194951,0.407475,-0.003263,-0.416821,-0.729534,0.605554,0.000032,1.025461,...,0,1,0,0,1,0,0,0,0,0

In [86]:
# Create a timestamped filename
current_time = datetime.datetime.now().strftime("%Y%m%d_%H%M%S")
output_filename = f"./data/processed_data_{current_time}.pickle"

In [87]:
# Save the processed DataFrame to a pickle file
df_processed.to_pickle(output_filename)

print(f"Processed data saved to {output_filename}")

Processed data saved to ./data/processed_data_20230420_193249.pickle