In [56]:
import pandas as pd
import numpy as np
import csv
import sqlite3
import re
import pickle

from sklearn.datasets import load_wine
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.svm import SVC
from sklearn.metrics import roc_curve, auc

from sklearn.metrics import accuracy_score

import matplotlib.pyplot as plt
%matplotlib inline

In [57]:
filename_csv = '/Users/xzhou/github/project_files/lending_club/loan.csv'
date_to_parse = ['issue_d' , 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'earliest_cr_line']

df=pd.read_csv(filename_csv, date_parser=date_to_parse)

/Users/xzhou/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [58]:
df.shape

(887379, 74)

In [59]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [ ]:
# filename_sql = '/Users/xzhou/github/project_files/lending_club/database.sqlite'
# # date_to_parse = ['issue_d' , 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'earliest_cr_line']
# conn = sqlite3.connect(filename_sql)

# df = pd.read_sql_query('select * from loan', con=conn, parse_dates = date_to_parse)

In [ ]:
# df.columns

In [60]:
filter = ['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'emp_length',
       'home_ownership', 'annual_inc', 'loan_status', 'purpose', 
       'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'application_type',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'annual_inc_joint', 'dti_joint', 'acc_now_delinq',
          'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m']

In [61]:
df_smaller = df.filter(items=filter)

In [62]:
df_smaller.columns

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'emp_length',
       'home_ownership', 'annual_inc', 'loan_status', 'purpose', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'application_type',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'annual_inc_joint', 'dti_joint', 'acc_now_delinq',
       'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m',
       'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
       'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype='object')

In [63]:
df_smaller.isnull().sum()

loan_amnt                           0
term                                0
int_rate                            0
installment                         0
grade                               0
emp_length                      44825
home_ownership                      0
annual_inc                          4
loan_status                         0
purpose                             0
dti                                 0
delinq_2yrs                        29
earliest_cr_line                   29
inq_last_6mths                     29
mths_since_last_delinq         454312
mths_since_last_record         750326
open_acc                           29
pub_rec                            29
revol_bal                           0
revol_util                        502
application_type                    0
collections_12_mths_ex_med        145
mths_since_last_major_derog    665676
policy_code                         0
annual_inc_joint               886868
dti_joint                      886870
acc_now_delinq                     29
tot_coll_amt                    70276
tot_cur_bal                     70276
open_acc_6m                    866007
open_il_6m                     866007
open_il_12m                    866007
open_il_24m                    866007
mths_since_rcnt_il             866569
total_bal_il                   866007
il_util                        868762
open_rv_12m                    866007
open_rv_24m                    866007
max_bal_bc                     866007
all_util                       866007
total_rev_hi_lim                70276
inq_fi                         866007
total_cu_tl                    866007
inq_last_12m                   866007
dtype: int64

In [64]:
# Drop the filds have 90%+ null values, 
# as filling in the nulls can skew the model
df_smaller.drop(['annual_inc_joint', 'dti_joint',  'open_acc_6m', 'open_il_6m',
       'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
       'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
        'inq_fi', 'total_cu_tl', 'inq_last_12m'],
              axis=1, inplace=True)

In [65]:
df_smaller.rename(index=str, columns={
    "dti": "payment_to_income_ratio_individual",
}, inplace=True)

In [66]:
df_smaller.columns

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'emp_length',
       'home_ownership', 'annual_inc', 'loan_status', 'purpose',
       'payment_to_income_ratio_individual', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'application_type',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
       'total_rev_hi_lim'],
      dtype='object')

In [67]:
df_smaller.head()

,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,loan_status,purpose,...,revol_bal,revol_util,application_type,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,5000.0,36 months,10.65,162.87,B,10+ years,RENT,24000.0,Fully Paid,credit_card,...,13648.0,83.7,INDIVIDUAL,0.0,NaN,1.0,0.0,NaN,NaN,NaN
1,2500.0,60 months,15.27,59.83,C,< 1 year,RENT,30000.0,Charged Off,car,...,1687.0,9.4,INDIVIDUAL,0.0,NaN,1.0,0.0,NaN,NaN,NaN
2,2400.0,36 months,15.96,84.33,C,10+ years,RENT,12252.0,Fully Paid,small_business,...,2956.0,98.5,INDIVIDUAL,0.0,NaN,1.0,0.0,NaN,NaN,NaN
3,10000.0,36 months,13.49,339.31,C,10+ years,RENT,49200.0,Fully Paid,other,...,5598.0,21.0,INDIVIDUAL,0.0,NaN,1.0,0.0,NaN,NaN,NaN
4,3000.0,60 months,12.69,67.79,B,1 year,RENT,80000.0,Current,other,...,27783.0,53.9,INDIVIDUAL,0.0,NaN,1.0,0.0,NaN,NaN,NaN

In [68]:
df_smaller.info

<bound method DataFrame.info of         loan_amnt        term  int_rate  installment grade emp_length  \
0          5000.0   36 months     10.65       162.87     B  10+ years
1          2500.0   60 months     15.27        59.83     C   < 1 year
2          2400.0   36 months     15.96        84.33     C  10+ years
3         10000.0   36 months     13.49       339.31     C  10+ years
4          3000.0   60 months     12.69        67.79     B     1 year
5          5000.0   36 months      7.90       156.46     A    3 years
6          7000.0   60 months     15.96       170.08     C    8 years
7          3000.0   36 months     18.64       109.43     E    9 years
8          5600.0   60 months     21.28       152.39     F    4 years
9          5375.0   60 months     12.69       121.45     B   < 1 year
10         6500.0   60 months     14.65       153.45     C    5 years
11        12000.0   36 months     12.69       402.54     B  10+ years
12         9000.0   36 months     13.49       305.38     C   < 1 year
13         3000.0   36 months      9.91        96.68     B    3 years
14        10000.0   36 months     10.65       325.74     B    3 years
15         1000.0   36 months     16.29        35.31     D   < 1 year
16        10000.0   36 months     15.27       347.98     C    4 years
17         3600.0   36 months      6.03       109.57     A  10+ years
18         6000.0   36 months     11.71       198.46     B     1 year
19         9200.0   36 months      6.03       280.01     A    6 years
20        20250.0   60 months     15.27       484.63     C    3 years
21        21000.0   36 months     12.42       701.73     B  10+ years
22        10000.0   36 months     11.71       330.76     B  10+ years
23        10000.0   36 months     11.71       330.76     B    5 years
24         6000.0   36 months     11.71       198.46     B     1 year
25        15000.0   36 months      9.91       483.38     B    2 years
26        15000.0   36 months     14.27       514.64     C    9 years
27         5000.0   60 months     16.77       123.65     D    2 years
28         4000.0   36 months     11.71       132.31     B  10+ years
29         8500.0   36 months     11.71       281.15     B   < 1 year
...           ...         ...       ...          ...   ...        ...
887349    20000.0   36 months      6.99       617.46     A    2 years
887350    10300.0   60 months     13.66       237.86     C  10+ years
887351     4200.0   36 months     15.99       147.64     D  10+ years
887352    15000.0   36 months     11.99       498.15     B   < 1 year
887353    15000.0   60 months     11.44       329.44     B    4 years
887354     6000.0   36 months     17.86       216.50     D  10+ years
887355    26950.0   36 months      8.19       846.88     A        NaN
887356    23000.0   60 months     15.59       554.32     D  10+ years
887357    18700.0   60 months     17.86       473.44     D  10+ years
887358    25000.0   60 months     15.99       607.82     D    3 years
887359    25000.0   60 months     15.59       602.52     D        NaN
887360    26500.0   60 months      8.67       545.87     B  10+ years
887361    21000.0   36 months      6.03       639.15     A  10+ years
887362     8000.0   36 months      8.19       251.40     A    9 years
887363    12000.0   36 months      9.49       384.34     B    4 years
887364    10775.0   36 months      6.03       327.95     A   < 1 year
887365     7000.0   36 months     14.31       240.30     C  10+ years
887366     6225.0   36 months     16.49       220.37     D    2 years
887367    10000.0   36 months      6.49       306.45     A     1 year
887368    13150.0   60 months     14.99       312.77     C    8 years
887369     4000.0   36 months      8.67       126.59     B  10+ years
887370     7500.0   36 months      9.49       240.22     B    8 years
887371    10850.0   36 months     19.24       399.04     E        NaN
887372    12000.0   36 months     11.99       398.52     B   < 1 year
887373    11575.0   36 months     15.59       404.61     D  10+ years
887374    10000.0   36 months     11.99       332.10     B    8 years
887375    24000.0   36 months     11.99       797.03     B  10+ years
887376    13000.0   60 months     15.99       316.07     D    5 years
887377    12000.0   60 months     19.99       317.86     E     1 year
887378    20000.0   36 months     11.99       664.20     B  10+ years

       home_ownership  annual_inc  loan_status             purpose  \
0                RENT    24000.00   Fully Paid         credit_card
1                RENT    30000.00  Charged Off                 car
2                RENT    12252.00   Fully Paid      small_business
3                RENT    49200.00   Fully Paid               other
4                RENT    80000.00      Current               other
5                RENT    36000.00   Fully Paid             wedding
6                RENT    47004.00      Current  debt_consolidation
7                RENT    48000.00   Fully Paid                 car
8                 OWN    40000.00  Charged Off      small_business
9                RENT    15000.00  Charged Off               other
10                OWN    72000.00   Fully Paid  debt_consolidation
11                OWN    75000.00   Fully Paid  debt_consolidation
12               RENT    30000.00  Charged Off  debt_consolidation
13               RENT    15000.00   Fully Paid         credit_card
14               RENT   100000.00  Charged Off               other
15               RENT    28000.00   Fully Paid  debt_consolidation
16               RENT    42000.00   Fully Paid    home_improvement
17           MORTGAGE   110000.00   Fully Paid      major_purchase
18           MORTGAGE    84000.00   Fully Paid             medical
19               RENT    77385.19   Fully Paid  debt_consolidation
20               RENT    43370.00   Fully Paid  debt_consolidation
21               RENT   105000.00  Charged Off  debt_consolidation
22                OWN    50000.00   Fully Paid         credit_card
23               RENT    50000.00   Fully Paid  debt_consolidation
24               RENT    76000.00  Charged Off      major_purchase
25           MORTGAGE    92000.00   Fully Paid         credit_card
26               RENT    60000.00  Charged Off  debt_consolidation
27               RENT    50004.00  Charged Off               other
28           MORTGAGE   106000.00   Fully Paid  debt_consolidation
29               RENT    25000.00   Fully Paid         credit_card
...               ...         ...          ...                 ...
887349       MORTGAGE    72000.00      Current  debt_consolidation
887350           RENT    93600.00      Current  debt_consolidation
887351       MORTGAGE    48000.00  Charged Off             medical
887352           RENT    70000.00      Current  debt_consolidation
887353           RENT    57000.00      Current  debt_consolidation
887354       MORTGAGE    90000.00      Current  debt_consolidation
887355           RENT    54000.00      Current  debt_consolidation
887356       MORTGAGE    50000.00      Current         credit_card
887357           RENT    52000.00      Current  debt_consolidation
887358           RENT   103000.00      Current  debt_consolidation
887359            OWN    55000.00      Current  debt_consolidation
887360       MORTGAGE    92000.00      Current  debt_consolidation
887361       MORTGAGE    65000.00      Current         credit_card
887362       MORTGAGE    50000.00      Current  debt_consolidation
887363           RENT    40000.00      Current  debt_consolidation
887364           RENT    54000.00   Fully Paid  debt_consolidation
887365           RENT    57000.00      Current  debt_consolidation
887366           RENT    27000.00   Fully Paid  debt_consolidation
887367           RENT    75000.00      Current  debt_consolidation
887368       MORTGAGE    30000.00      Current      major_purchase
887369       MORTGAGE    50000.00   Fully Paid                 car
887370           RENT    40000.00      Current  debt_consolidation
887371            OWN    32000.00  Charged Off  debt_consolidation
887372       MORTGAGE    63000.00      Current         credit_card
887373           RENT    25400.00      Current         credit_card
887374           RENT    31000.00      Current  debt_consolidation
887375       MORTGAGE    79000.00      Current    home_improvement
887376           RENT    35000.00      Current  debt_consolidation
887377           RENT    64400.00      Current  debt_consolidation
887378           RENT   100000.00      Current         credit_card

              ...         revol_bal  revol_util application_type  \
0             ...           13648.0       83.70       INDIVIDUAL
1             ...            1687.0        9.40       INDIVIDUAL
2             ...            2956.0       98.50       INDIVIDUAL
3             ...            5598.0       21.00       INDIVIDUAL
4             ...           27783.0       53.90       INDIVIDUAL
5             ...            7963.0       28.30       INDIVIDUAL
6             ...           17726.0       85.60       INDIVIDUAL
7             ...            8221.0       87.50       INDIVIDUAL
8             ...            5210.0       32.60       INDIVIDUAL
9             ...            9279.0       36.50       INDIVIDUAL
10            ...            4032.0       20.60       INDIVIDUAL
11            ...           23336.0       67.10       INDIVIDUAL
12            ...           10452.0       91.70       INDIVIDUAL
13            ...            7323.0       43.10       INDIVIDUAL
14            ...           11997.0       55.50       INDIVIDUAL
15            ...            6524.0       81.50       INDIVIDUAL
16            ...           24043.0       70.20       INDIVIDUAL
17            ...           22836.0       16.00       INDIVIDUAL
18            ...               0.0       37.73       INDIVIDUAL
19            ...            7314.0       23.10       INDIVIDUAL
20            ...           17813.0       85.60       INDIVIDUAL
21            ...           32135.0       90.30       INDIVIDUAL
22            ...           10056.0       82.40       INDIVIDUAL
23            ...           17800.0       91.80       INDIVIDUAL
24            ...            5963.0       29.70       INDIVIDUAL
25            ...           13707.0       93.90       INDIVIDUAL
26            ...            5872.0       57.60       INDIVIDUAL
27            ...            4345.0       59.50       INDIVIDUAL
28            ...            6110.0       37.70       INDIVIDUAL
29            ...            6441.0       59.10       INDIVIDUAL
...           ...               ...         ...              ...
887349        ...           21100.0       53.10       INDIVIDUAL
887350        ...           10260.0       46.60       INDIVIDUAL
887351        ...           12943.0       63.40       INDIVIDUAL
887352        ...            9508.0       98.00       INDIVIDUAL
887353        ...           14848.0       56.90       INDIVIDUAL
887354        ...            6707.0       78.90       INDIVIDUAL
887355        ...           32167.0       24.90       INDIVIDUAL
887356        ...           41546.0       63.30       INDIVIDUAL
887357        ...            7710.0       75.60       INDIVIDUAL
887358        ...           17275.0       92.40       INDIVIDUAL
887359        ...           13860.0       56.80       INDIVIDUAL
887360        ...           75645.0       65.10       INDIVIDUAL
887361        ...           23356.0       30.60       INDIVIDUAL
887362        ...            4611.0       63.20       INDIVIDUAL
887363        ...            8731.0       73.40       INDIVIDUAL
887364        ...           10776.0       25.80       INDIVIDUAL
887365        ...            2684.0       27.10       INDIVIDUAL
887366        ...            1756.0       97.60       INDIVIDUAL
887367        ...           10529.0       34.70       INDIVIDUAL
887368        ...             672.0        3.20       INDIVIDUAL
887369        ...            1700.0        5.60       INDIVIDUAL
887370        ...            6361.0       43.90       INDIVIDUAL
887371        ...            6987.0       41.60       INDIVIDUAL
887372        ...           21110.0       69.70       INDIVIDUAL
887373        ...           18266.0       65.00       INDIVIDUAL
887374        ...           14037.0       82.10       INDIVIDUAL
887375        ...            8621.0       84.50       INDIVIDUAL
887376        ...           11031.0       61.30       INDIVIDUAL
887377        ...            8254.0       30.60       INDIVIDUAL
887378        ...           33266.0       79.80       INDIVIDUAL

        collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  \
0                              0.0                          NaN          1.0
1                              0.0                          NaN          1.0
2                              0.0                          NaN          1.0
3                              0.0                          NaN          1.0
4                              0.0                          NaN          1.0
5                              0.0                          NaN          1.0
6                              0.0                          NaN          1.0
7                              0.0                          NaN          1.0
8                              0.0                          NaN          1.0
9                              0.0                          NaN          1.0
10                             0.0                          NaN          1.0
11                             0.0                          NaN          1.0
12                             0.0                          NaN          1.0
13                             0.0                          NaN          1.0
14                             0.0                          NaN          1.0
15                             0.0                          NaN          1.0
16                             0.0                          NaN          1.0
17                             0.0                          NaN          1.0
18                             0.0                          NaN          1.0
19                             0.0                          NaN          1.0
20                             0.0                          NaN          1.0
21                             0.0                          NaN          1.0
22                             0.0                          NaN          1.0
23                             0.0                          NaN          1.0
24                             0.0                          NaN          1.0
25                             0.0                          NaN          1.0
26                             0.0                          NaN          1.0
27                             0.0                          NaN          1.0
28                             0.0                          NaN          1.0
29                             0.0                          NaN          1.0
...                            ...                          ...          ...
887349                         0.0                         70.0          1.0
887350                         0.0                          NaN          1.0
887351                         0.0                         38.0          1.0
887352                         0.0                          NaN          1.0
887353                         0.0                          NaN          1.0
887354                         0.0                          NaN          1.0
887355                         0.0                          NaN          1.0
887356                         0.0                          NaN          1.0
887357                         0.0                         30.0          1.0
887358                         0.0                          NaN          1.0
887359                         0.0                          NaN          1.0
887360                         0.0                          NaN          1.0
887361                         0.0                          NaN          1.0
887362                         0.0                         24.0          1.0
887363                         0.0                          8.0          1.0
887364                         0.0                         28.0          1.0
887365                         0.0                         10.0          1.0
887366                         0.0                          NaN          1.0
887367                         0.0                          NaN          1.0
887368                         0.0                          NaN          1.0
887369                         0.0                          NaN          1.0
887370                         0.0                         69.0          1.0
887371                         0.0                          NaN          1.0
887372                         0.0                          9.0          1.0
887373                         0.0                          NaN          1.0
887374                         0.0                          NaN          1.0
887375                         0.0                         29.0          1.0
887376                         0.0                          NaN          1.0
887377                         1.0                         22.0          1.0
887378                         0.0                          NaN          1.0

        acc_now_delinq  tot_coll_amt  tot_cur_bal  total_rev_hi_lim
0                  0.0           NaN          NaN               NaN
1                  0.0           NaN          NaN               NaN
2                  0.0           NaN          NaN               NaN
3                  0.0           NaN          NaN               NaN
4                  0.0           NaN          NaN               NaN
5                  0.0           NaN          NaN               NaN
6                  0.0           NaN          NaN               NaN
7                  0.0           NaN          NaN               NaN
8                  0.0           NaN          NaN               NaN
9                  0.0           NaN          NaN               NaN
10                 0.0           NaN          NaN               NaN
11                 0.0           NaN          NaN               NaN
12                 0.0           NaN          NaN               NaN
13                 0.0           NaN          NaN               NaN
14                 0.0           NaN          NaN               NaN
15                 0.0           NaN          NaN               NaN
16                 0.0           NaN          NaN               NaN
17                 0.0           NaN          NaN               NaN
18                 0.0           NaN          NaN               NaN
19                 0.0           NaN          NaN               NaN
20                 0.0           NaN          NaN               NaN
21                 0.0           NaN          NaN               NaN
22                 0.0           NaN          NaN               NaN
23                 0.0           NaN          NaN               NaN
24                 0.0           NaN          NaN               NaN
25                 0.0           NaN          NaN               NaN
26                 0.0           NaN          NaN               NaN
27                 0.0           NaN          NaN               NaN
28                 0.0           NaN          NaN               NaN
29                 0.0           NaN          NaN               NaN
...                ...           ...          ...               ...
887349             0.0           0.0     388140.0           39700.0
887350             0.0          50.0      41956.0           22000.0
887351             0.0           0.0     207975.0           20400.0
887352             0.0           0.0      15724.0            9700.0
887353             0.0           0.0      33529.0           26100.0
887354             0.0           0.0     384500.0            8500.0
887355             0.0           0.0      41650.0          129100.0

In [69]:
df_clean = df_smaller.copy()

In [70]:
df_clean.isnull().sum()

loan_amnt                                  0
term                                       0
int_rate                                   0
installment                                0
grade                                      0
emp_length                             44825
home_ownership                             0
annual_inc                                 4
loan_status                                0
purpose                                    0
payment_to_income_ratio_individual         0
delinq_2yrs                               29
earliest_cr_line                          29
inq_last_6mths                            29
mths_since_last_delinq                454312
mths_since_last_record                750326
open_acc                                  29
pub_rec                                   29
revol_bal                                  0
revol_util                               502
application_type                           0
collections_12_mths_ex_med               145
mths_since_last_major_derog           665676
policy_code                                0
acc_now_delinq                            29
tot_coll_amt                           70276
tot_cur_bal                            70276
total_rev_hi_lim                       70276
dtype: int64

In [71]:
excluded = ['Issued',
                'Does not meet the credit policy. Status:Charged Off',
                'Does not meet the credit policy. Status:Fully Paid',
               ]
good = ['Current', 'Fully Paid']
bad = ['Charged Off', 'Default', 'In Grace Period', 'Late (16-30 days)', 'Late (31-120 days)']

In [72]:
def get_status (status):
    """
    Assign loans to either good or bad loans based on their status
    """
    try: 
        status=status.strip()
        if status in good:
            return "good"
        elif status in bad:
            return "bad"
        else: 
            return "excluded"
    except: 
        return "excluded"

In [73]:
df_clean['loan_status'] = df_clean['loan_status'].apply(lambda x: get_status(x))

In [74]:
df_clean = df_clean[df_clean['loan_status']!='excluded']

In [75]:
df_clean.groupby('loan_status').count()

,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,purpose,payment_to_income_ratio_individual,...,revol_bal,revol_util,application_type,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
loan_status,,,,,,,,,,,,,,,,,,,,,
bad,66668,66668,66668,66668,66668,62973,66668,66668,66668,66668,...,66668,66607,66668,66662,15124,66668,66668,56417,56417,56417
good,809502,809502,809502,809502,809502,769037,809502,809502,809502,809502,...,809502,809104,809502,809452,204054,809502,809502,752226,752226,752226

In [76]:
df_clean.isnull().sum()

loan_amnt                                  0
term                                       0
int_rate                                   0
installment                                0
grade                                      0
emp_length                             44160
home_ownership                             0
annual_inc                                 0
loan_status                                0
purpose                                    0
payment_to_income_ratio_individual         0
delinq_2yrs                                0
earliest_cr_line                           0
inq_last_6mths                             0
mths_since_last_delinq                449097
mths_since_last_record                741573
open_acc                                   0
pub_rec                                    0
revol_bal                                  0
revol_util                               459
application_type                           0
collections_12_mths_ex_med                56
mths_since_last_major_derog           656992
policy_code                                0
acc_now_delinq                             0
tot_coll_amt                           67527
tot_cur_bal                            67527
total_rev_hi_lim                       67527
dtype: int64

In [77]:
df_clean.columns

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'emp_length',
       'home_ownership', 'annual_inc', 'loan_status', 'purpose',
       'payment_to_income_ratio_individual', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'application_type',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
       'total_rev_hi_lim'],
      dtype='object')

In [78]:
# Check null values for rest of records

df_clean.isnull().sum()

loan_amnt                                  0
term                                       0
int_rate                                   0
installment                                0
grade                                      0
emp_length                             44160
home_ownership                             0
annual_inc                                 0
loan_status                                0
purpose                                    0
payment_to_income_ratio_individual         0
delinq_2yrs                                0
earliest_cr_line                           0
inq_last_6mths                             0
mths_since_last_delinq                449097
mths_since_last_record                741573
open_acc                                   0
pub_rec                                    0
revol_bal                                  0
revol_util                               459
application_type                           0
collections_12_mths_ex_med                56
mths_since_last_major_derog           656992
policy_code                                0
acc_now_delinq                             0
tot_coll_amt                           67527
tot_cur_bal                            67527
total_rev_hi_lim                       67527
dtype: int64

In [79]:
# Fill the null value for 'mths_since_last_delinq' with zero as zero is default case for majority of loans

fill_with_zero = {
    'mths_since_last_delinq':0,
    'mths_since_last_record':0,
    'collections_12_mths_ex_med':0,
    'mths_since_last_major_derog':0,
    'tot_coll_amt':0
}
            
df_clean.fillna(fill_with_zero,inplace=True)

In [80]:

df_clean.isnull().sum()

loan_amnt                                 0
term                                      0
int_rate                                  0
installment                               0
grade                                     0
emp_length                            44160
home_ownership                            0
annual_inc                                0
loan_status                               0
purpose                                   0
payment_to_income_ratio_individual        0
delinq_2yrs                               0
earliest_cr_line                          0
inq_last_6mths                            0
mths_since_last_delinq                    0
mths_since_last_record                    0
open_acc                                  0
pub_rec                                   0
revol_bal                                 0
revol_util                              459
application_type                          0
collections_12_mths_ex_med                0
mths_since_last_major_derog               0
policy_code                               0
acc_now_delinq                            0
tot_coll_amt                              0
tot_cur_bal                           67527
total_rev_hi_lim                      67527
dtype: int64

In [81]:
# Fill the null value for 'revol util' with means

df_clean['revol_util'].fillna(
    value=df_clean['revol_util'].mean(), inplace=True)

In [82]:
# Fill the null value for 'tot_cur_bal' with means

df_clean['tot_cur_bal'].fillna(
    value=df_clean['tot_cur_bal'].mean(), inplace=True)

In [83]:
# Fill the null value for 'total_rev_hi_lim' with means

df_clean['total_rev_hi_lim'].fillna(
    value=df_clean['total_rev_hi_lim'].mean(), inplace=True)

In [84]:
df_clean.isnull().sum()

loan_amnt                                 0
term                                      0
int_rate                                  0
installment                               0
grade                                     0
emp_length                            44160
home_ownership                            0
annual_inc                                0
loan_status                               0
purpose                                   0
payment_to_income_ratio_individual        0
delinq_2yrs                               0
earliest_cr_line                          0
inq_last_6mths                            0
mths_since_last_delinq                    0
mths_since_last_record                    0
open_acc                                  0
pub_rec                                   0
revol_bal                                 0
revol_util                                0
application_type                          0
collections_12_mths_ex_med                0
mths_since_last_major_derog               0
policy_code                               0
acc_now_delinq                            0
tot_coll_amt                              0
tot_cur_bal                               0
total_rev_hi_lim                          0
dtype: int64

In [85]:
def get_employee_length(length):
    """
    This is to extract numerical value of emp_length
    For simplicity, approximation was used.
    <1 years will be treated as 1 year
    >10 years will be treated as 10 years
    """
    try:
        length = length.strip()
        year = re.findall(r'(\d+)', length)
        return int(year[0]) 
    except:
        return None

In [86]:
df_clean['emp_length'] = df_clean['emp_length'].apply(lambda x: get_employee_length(x))

In [87]:
df_clean['emp_length'].fillna(
    value=df_clean['emp_length'].mean(), inplace=True)

In [88]:
# All Null values have been appropriately handled

df_clean.isnull().sum()

loan_amnt                             0
term                                  0
int_rate                              0
installment                           0
grade                                 0
emp_length                            0
home_ownership                        0
annual_inc                            0
loan_status                           0
purpose                               0
payment_to_income_ratio_individual    0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq                0
mths_since_last_record                0
open_acc                              0
pub_rec                               0
revol_bal                             0
revol_util                            0
application_type                      0
collections_12_mths_ex_med            0
mths_since_last_major_derog           0
policy_code                           0
acc_now_delinq                        0
tot_coll_amt                          0
tot_cur_bal                           0
total_rev_hi_lim                      0
dtype: int64

In [89]:
# Break down terms of loan into 2 categories

df_clean = pd.get_dummies(df_clean, prefix=['term'],columns=['term'])

In [90]:
df_clean.columns

Index(['loan_amnt', 'int_rate', 'installment', 'grade', 'emp_length',
       'home_ownership', 'annual_inc', 'loan_status', 'purpose',
       'payment_to_income_ratio_individual', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'application_type',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
       'total_rev_hi_lim', 'term_ 36 months', 'term_ 60 months'],
      dtype='object')

In [91]:
# Break down grades into categories

df_clean = pd.get_dummies(df_clean, prefix=['grade'],columns=['grade'])

In [92]:
df_clean.columns

Index(['loan_amnt', 'int_rate', 'installment', 'emp_length', 'home_ownership',
       'annual_inc', 'loan_status', 'purpose',
       'payment_to_income_ratio_individual', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'application_type',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
       'total_rev_hi_lim', 'term_ 36 months', 'term_ 60 months', 'grade_A',
       'grade_B', 'grade_C', 'grade_D', 'grade_E', 'grade_F', 'grade_G'],
      dtype='object')

In [93]:
df_clean = pd.get_dummies(df_clean, prefix=['home_ownership'], columns=['home_ownership'])

In [94]:
df_clean.columns

Index(['loan_amnt', 'int_rate', 'installment', 'emp_length', 'annual_inc',
       'loan_status', 'purpose', 'payment_to_income_ratio_individual',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'application_type',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
       'total_rev_hi_lim', 'term_ 36 months', 'term_ 60 months', 'grade_A',
       'grade_B', 'grade_C', 'grade_D', 'grade_E', 'grade_F', 'grade_G',
       'home_ownership_ANY', 'home_ownership_MORTGAGE', 'home_ownership_NONE',
       'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT'],
      dtype='object')

In [95]:
df_clean=pd.get_dummies(df_clean, prefix=['purpose'], columns=['purpose'])

In [96]:
df_clean.columns

Index(['loan_amnt', 'int_rate', 'installment', 'emp_length', 'annual_inc',
       'loan_status', 'payment_to_income_ratio_individual', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'application_type', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'acc_now_delinq',
       'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'term_ 36 months',
       'term_ 60 months', 'grade_A', 'grade_B', 'grade_C', 'grade_D',
       'grade_E', 'grade_F', 'grade_G', 'home_ownership_ANY',
       'home_ownership_MORTGAGE', 'home_ownership_NONE',
       'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT',
       'purpose_car', 'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy', 'purpose_small_business',
       'purpose_vacation', 'purpose_wedding'],
      dtype='object')

In [97]:
def get_earliest_cr_line(string):
    """
    This is to calculate years of credit history.
    Since the data is from 2016, use 2016 minus the 
    starting year to estimate years of credit history
    
    """
    string = string.strip()
    year = re.findall(r'(\d+)', string)
    return (2016-int(year[0]))

In [98]:
df_clean['earliest_cr_line'] = df_clean['earliest_cr_line'].apply(lambda x: get_earliest_cr_line(x))

In [99]:
def inverse(value):
    try:
        return 1/value
    except: 
        return 0

In [100]:
# Take inverse of months since last delinquishing date as this is is inversed related to default prediction

df_clean['inversed_mths_since_last_delinq']=df_clean['mths_since_last_delinq'].apply(lambda x: inverse(x))

In [101]:
# Take inverse of months since last record as this is is inversed related to default to default prediction

df_clean['inversed_mths_since_last_record']=df_clean['mths_since_last_record'].apply(lambda x: inverse(x))

In [102]:
# Take inverse of months since last record as this is is inversed related to default to default prediction

df_clean['inversed_mths_since_last_major_derog']=df_clean['mths_since_last_major_derog'].apply(lambda x: inverse(x))

In [103]:
df_clean.drop(
    ['mths_since_last_delinq', 'mths_since_last_record',
     'mths_since_last_major_derog'], 
    inplace=True, axis=1)

In [105]:
df_clean['income_to_debt_ratio']=df_clean['annual_inc']/df_clean['revol_bal']

In [106]:
# Drop infinite value
df_clean['income_to_debt_ratio'] = df_clean['income_to_debt_ratio'].replace(np.inf, np.nan)

In [107]:
df_clean = df_clean[df_clean['income_to_debt_ratio']>=0]

In [109]:
df_clean=pd.get_dummies(df_clean, prefix=['application_type'], columns=['application_type'])

In [110]:
df_clean.columns

Index(['loan_amnt', 'int_rate', 'installment', 'emp_length', 'annual_inc',
       'loan_status', 'payment_to_income_ratio_individual', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'collections_12_mths_ex_med', 'policy_code',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'term_ 36 months', 'term_ 60 months', 'grade_A', 'grade_B', 'grade_C',
       'grade_D', 'grade_E', 'grade_F', 'grade_G', 'home_ownership_ANY',
       'home_ownership_MORTGAGE', 'home_ownership_NONE',
       'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT',
       'purpose_car', 'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy', 'purpose_small_business',
       'purpose_vacation', 'purpose_wedding',
       'inversed_mths_since_last_delinq', 'inversed_mths_since_last_record',
       'inversed_mths_since_last_major_derog', 'income_to_debt_ratio',
       'application_type_INDIVIDUAL', 'application_type_JOINT'],
      dtype='object')

In [111]:
df_clean.describe(include='all')

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,payment_to_income_ratio_individual,delinq_2yrs,earliest_cr_line,inq_last_6mths,...,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,inversed_mths_since_last_delinq,inversed_mths_since_last_record,inversed_mths_since_last_major_derog,income_to_debt_ratio,application_type_INDIVIDUAL,application_type_JOINT
count,872926.000000,872926.000000,872926.000000,872926.000000,8.729260e+05,872926,872926.000000,872926.000000,872926.000000,872926.000000,...,872926.000000,872926.000000,872926.000000,872926.000000,872926.000000,872926.000000,872926.000000,872926.000000,872926.000000,872926.000000
unique,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,good,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,806601,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,14779.352803,13.252395,437.392570,6.101334,7.500838e+04,NaN,18.182628,0.314092,18.306563,0.684289,...,0.000635,0.011380,0.005272,0.002560,0.031165,0.003001,0.009687,24.496675,0.999488,0.000512
std,8427.927252,4.384235,243.959234,3.444948,6.469140e+04,NaN,17.290395,0.861302,7.432795,0.966162,...,0.025184,0.106069,0.072416,0.050535,0.081515,0.014310,0.037072,742.312695,0.022623,0.022623
min,500.000000,5.320000,16.080000,1.000000,0.000000e+00,NaN,0.000000,0.000000,4.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8000.000000,9.990000,261.880000,3.000000,4.500000e+04,NaN,11.940000,0.000000,13.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.186915,1.000000,0.000000
50%,13000.000000,12.990000,382.810000,6.098617,6.500000e+04,NaN,17.680000,0.000000,17.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.136547,1.000000,0.000000
75%,20000.000000,16.200000,573.060000,10.000000,9.000000e+04,NaN,23.960000,0.000000,22.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.031250,0.000000,0.007092,9.139470,1.000000,0.000000
max,35000.000000,28.990000,1445.460000,10.000000,9.500000e+06,NaN,9999.000000,39.000000,72.000000,8.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,225000.000000,1.000000,1.000000

In [54]:
df_clean.isnull().sum()

loan_amnt                             0
int_rate                              0
installment                           0
emp_length                            0
annual_inc                            0
loan_status                           0
payment_to_income_ratio_individual    0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq                0
mths_since_last_record                0
open_acc                              0
pub_rec                               0
revol_bal                             0
revol_util                            0
collections_12_mths_ex_med            0
mths_since_last_major_derog           0
policy_code                           0
acc_now_delinq                        0
tot_coll_amt                          0
tot_cur_bal                           0
total_rev_hi_lim                      0
term_ 36 months                       0
term_ 60 months                       0
grade_A                               0
grade_B                               0
grade_C                               0
grade_D                               0
grade_E                               0
                                     ..
addr_state_ME                         0
addr_state_MI                         0
addr_state_MN                         0
addr_state_MO                         0
addr_state_MS                         0
addr_state_MT                         0
addr_state_NC                         0
addr_state_ND                         0
addr_state_NE                         0
addr_state_NH                         0
addr_state_NJ                         0
addr_state_NM                         0
addr_state_NV                         0
addr_state_NY                         0
addr_state_OH                         0
addr_state_OK                         0
addr_state_OR                         0
addr_state_PA                         0
addr_state_RI                         0
addr_state_SC                         0
addr_state_SD                         0
addr_state_TN                         0
addr_state_TX                         0
addr_state_UT                         0
addr_state_VA                         0
addr_state_VT                         0
addr_state_WA                         0
addr_state_WI                         0
addr_state_WV                         0
addr_state_WY                         0
Length: 108, dtype: int64

In [112]:
pkl_filename= '/Users/xzhou/github/project_files/lending_club/loan3.pkl'

with open(pkl_filename, 'wb') as pklfile:
    pickle.dump(df_clean, pklfile)