In [1]:
import sys
sys.path.insert(0, './utils/')
# import feature_selection as fs
import classification_models as cm
import feature_selection as fs

In [2]:
import pickle
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
import importlib
importlib.reload(cm)
importlib.reload(fs)

In [4]:
processed_data_filename = 'processed_data_20230517_223610.pickle'
processed_data_path = f'./data/{processed_data_filename}'

df = pd.read_pickle(processed_data_path)

In [5]:
df.shape

(876170, 115)

In [6]:
df.head()

,loan_amnt,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,...,home_ownership_OWN,home_ownership_RENT,home_ownership_nan,next_pymnt_d_Jan-2016,next_pymnt_d_Mar-2016,next_pymnt_d_nan,verification_status_Source Verified,verification_status_Verified,verification_status_nan,label
0,-1.203909,-0.616915,-1.301341,1.217976,-0.453552,0.381301,-0.093288,-0.013627,-1.400648,-0.424777,...,-0.330426,1.221304,0.0,-0.296551,-0.00881,1.569560,-0.770581,1.430559,0.0,0
1,-1.377846,0.516883,-1.241445,-1.641569,-0.453552,2.633161,-0.093288,-0.013627,-1.400648,-0.424777,...,-0.330426,1.221304,0.0,-0.296551,-0.00881,1.569560,1.297722,-0.699027,0.0,1
2,-1.377846,0.686216,-1.301341,-1.194287,-0.453552,1.507231,-0.093288,-0.013627,-1.400648,-0.424777,...,-0.330426,1.221304,0.0,-0.296551,-0.00881,1.569560,-0.770581,-0.699027,0.0,0
3,-0.582706,0.080052,-0.666436,0.243131,-0.453552,0.381301,0.191932,-0.013627,-0.300568,-0.424777,...,-0.330426,1.221304,0.0,-0.296551,-0.00881,1.569560,1.297722,-0.699027,0.0,0
4,-1.377846,-0.116277,0.255973,-0.019376,-0.453552,-0.744628,0.405847,-0.013627,0.799513,-0.424777,...,-0.330426,1.221304,0.0,-0.296551,-0.00881,-0.637121,1.297722,-0.699027,0.0,0

In [7]:
df.columns

Index(['loan_amnt', 'int_rate', 'annual_inc', 'dti', 'delinq_2yrs',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec',
       ...
       'home_ownership_OWN', 'home_ownership_RENT', 'home_ownership_nan',
       'next_pymnt_d_Jan-2016', 'next_pymnt_d_Mar-2016', 'next_pymnt_d_nan',
       'verification_status_Source Verified', 'verification_status_Verified',
       'verification_status_nan', 'label'],
      dtype='object', length=115)

In [8]:
X_processed = df.drop(columns = 'label')
y = df['label']

In [9]:
# Split the data into train and test sets

X_train, X_test, y_train, y_test = train_test_split(X_processed, y, test_size=0.3, random_state=42)

In [ ]:
# Perform feature selection - without telling optimal number of features

selected_features = fs.select_features(X_train=X_train, 
                                       y_train=y_train, 
                                       # n_features_to_select=30,
                                       ml_type='classification',                 
                                       n_samples=50000)

INFO:root:Starting feature selection...

In [ ]:
best_model = cm.run_classification_models(X_train=X_train[selected_features], 
                                          y_train=y_train, 
                                          X_test=X_test[selected_features], 
                                          y_test=y_test, 
                                          n_samples = 50000, 
                                          scoring_metric='f1 score')

In [ ]:
cm.plot_top_n_features(best_model, X_train.columns, 10)