In [15]:
import sys
sys.path.insert(0, './utility/')
import classification_models as cm

In [1]:
import pickle
import pandas as pd

In [62]:
import importlib
importlib.reload(cm)

In [56]:
processed_data_filename = 'processed_data_20230420_193249.pickle'
processed_data_path = f'./data/{processed_data_filename}'

df = pd.read_pickle(processed_data_path)

In [57]:
df.shape

(876170, 117)

In [58]:
df.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,...,home_ownership_nan,verification_status_Source Verified,verification_status_Verified,verification_status_nan,term_ 60 months,term_nan,next_pymnt_d_Jan-2016,next_pymnt_d_Mar-2016,next_pymnt_d_nan,label
0,-1.384536,-0.704540,-1.409446,-0.149701,1.483957,-0.416821,0.462971,-0.064410,0.000032,-0.029530,...,0,0,1,0,0,0,0,0,1,0
1,-0.184325,0.648016,-0.194951,-1.449777,-0.047680,-0.416821,-0.729534,-0.064410,0.000032,-0.029530,...,0,1,0,0,1,0,0,0,1,1
2,-0.184325,0.850022,-0.194951,-0.149701,-1.415431,-0.416821,1.655476,-0.064410,0.000032,-0.029530,...,0,0,0,0,0,0,0,0,1,0
3,-0.634404,0.126901,-0.434002,-0.736592,0.312255,-0.416821,0.462971,0.318427,0.000032,-0.293277,...,0,1,0,0,0,0,0,0,1,0
4,-0.184325,-0.107308,-0.194951,0.407475,-0.003263,-0.416821,-0.729534,0.605554,0.000032,1.025461,...,0,1,0,0,1,0,0,0,0,0

In [59]:
df.columns

Index(['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti',
       'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc',
       ...
       'home_ownership_nan', 'verification_status_Source Verified',
       'verification_status_Verified', 'verification_status_nan',
       'term_ 60 months', 'term_nan', 'next_pymnt_d_Jan-2016',
       'next_pymnt_d_Mar-2016', 'next_pymnt_d_nan', 'label'],
      dtype='object', length=117)

In [60]:
X_processed = df.drop(columns = ['label'])
y = df['label']

In [ ]:
cm.run_classification_models(X_processed, y, grid_search=False)

Logistic Regression: Done (Execution Time: 72.22 seconds)
KNN: Done (Execution Time: 0.27 seconds)